
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$font-family: Helvetica;
$HTML: #E34C26;
$JavaScript: #f1E05A;
$CSS: #563D7C;
$Java: #b07219;
$Shell: #89E051;
$text-grey: #586069;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


.wrapper {
  padding: 30px 0px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

.prof-pic {
  border-radius: 10px;

}


.main-nav {
  background-color: #24292E;

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px
  }
}

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    color: #c8c9c4;
    list-style: none;
    padding-left: 0px;
  }


nav li {
  padding: 10px 10px;
  font-weight: bold;
}

.main-nav input{
  margin-top: 2px;
  // margin-left: 200px;
  background-color: #383C3F;
  border: none;
  margin-right: 0px;
  padding-right: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 13px;
  font-weight: bold;

}

.octicon {
  filter: invert(100%);
  margin-bottom: 2px;
  min-width: 30px;
}

.left-nav {
  display: flex;
  flex-wrap: wrap;

}

.right-nav {
  display: flex;
  flex-wrap: wrap;

  .mini-prof-pic {
    max-width: 20px;
  }
}
.triangle {
  font-size: 8px;
  max-height: 8px;
  align-self: center;

}

.plus {
  font-size: 15px;
  max-height: 20px;
  margin: 0;
}

#bio {
  color: #6a737d;
  margin-right: 10px;
}


.repo-name {
    color: #0366d6;
    font-size: 20px;
    font-weight: 600;

}

.lang-color {
  content: "";
  border-radius: 8px;
  display: inline-block;
  width: 12px;
  height: 12px;

}

#language{
  font-size: 12px;
  margin-right: 0px;
  color: $text-grey;
  margin-bottom: 1px;
}

.HTML {
  background-color: $HTML;
}

.CSS {
  background-color: $CSS;
}

.JavaScript {
  background-color: $JavaScript;
}

.Shell {
  background-color: $Shell;
}

.Java {
  background-color: $Java;
}

#last-updated {
  font-size: 12px;
  margin-left: 10px;
  color: $text-grey;
  margin-bottom: 1px;
}

#login {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0px;
  color: #666;
}

#user-name {
  margin-bottom: 0px;
}

.email, .website {
  color: #0366d6;
  text-decoration: none;
}

.hold-repo {
  margin: 30px 0px;
}

.repo-icon {
  width: 20px;
  height: 20px;
}

.btn-success {
    color: #fff;
    background-color: #269f42;
    border-color: #269f42;
    padding-left: 6px;
    height: 35px;
  }

.repo-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-left {
  max-width: 400px;
}

.repo-button {
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;

}

.account-info-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  #repositories-tab {
    color: #24292e;
    border-bottom: 2px solid #e36209;

  }

  .tab a {
    text-decoration: none;
    color: #586069;
  }

  .tab-span {
    background-color: #eee;
    border-radius: 10px;
    padding: 1px 4px;
    margin-left: 4px;
  }
}

.tab {
  padding: 20px;
  margin-left: 15px;
  font-size: 14px;

}

#break {
  margin-top: 0px;
}

#dropdownMenuButton {
  background-color: #eff3f6;
}

@media (max-width: 1200px) {
  .nav-left {
    width: 340px;
    margin-bottom: 20px;
  }

  .account-info-nav {
    display: none;
  }

  .btn-success {
    height: 35px;
  }
}

@media (max-width: 768px) {
  .nav-left {
    width: 150px;
  }

  .btn-success {
    height: 35px;
    padding-left: 0px;
  }

  .right-nav {
    display: none;
  }

  .navbar-form {
    margin: 0px 10px;
  }

  .octicon {
    margin-left: 10px;
  }

  .repo-search {
    justify-content: center;
  }
}

@media (max-width: 609px) {
  .left-nav {
    margin: 0 auto;

  }
}
